<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/formatting.css">
</head>

<body>
    <div class="grid-container">



        <div class="header"><h1>transalte</h1></div>



        <div class="menu"><p><a href="/index.html">HOME</a> : <a href="/music/">MUSIC</a> : <a href="/max/">MAX</a> : EMAC</p></div>



        <div class="content">
          {{ content }}
          </div>

        <div class="footer"><p>last update: {{ page.lastupdate }}</p></div>
    </div>
</body>
</html>
